.landing-page {
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-image: url(https://raw.githubusercontent.com/neuron-ai/easyneuron/master/docs/img/codeblur.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.landing-page .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page .logo img {
  height: 60vmin;
  margin-left: 2rem;
}

.landing-page .links {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin-right: 3rem;

  justify-content: center;

  text-align: right;
  text-transform: uppercase;
}

.landing-page div a:nth-child(1) {
  padding-top: 5rem;
}

.landing-page a {
  position: relative;
  color: white;
  text-decoration: none;

  width: fit-content;
}


.landing-page a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.landing-page a:hover::before {
  transform: scaleX(1);
}

@media (max-width: 600px) {
  .landing-page {
    flex-direction: column;
  }

  .landing-page img {
    margin-top: 30vh;
  }

  .landing-page .links a:nth-child(1) {
    padding-top: 0;
  }
}
