@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  font-family: Raleway, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100vw;
}

#nav {
  position: sticky;
  top: 0;
  
  width: 100vw;

  background-color: white;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0 1rem rgba(100, 100, 100, 0.329);
}
#nav div {
  width: 50%;

  padding-left: 3ch;
  padding-right: 3ch;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#nav div a {
  color: black;
  padding: 3ch;
  transition: 200ms ease-in;
}
#nav div a:hover {
  color: gray;
}
#nav h1 {
  color: transparent;

  font-weight: bolder;
  padding-left: 3ch;

  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, #08aaef, #765dde, #ba2dd4);
}

@media (max-width: 390px) {
  #nav {
    flex-wrap: wrap;
  }
}
