name: Check Coverage

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v2
      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install coverage

      - shell: bash
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_API_TOKEN }}
        run: |
          coverage run -m unittest discover
          coverage report -m
          coverage xml
          export CODACY_ORGANIZATION_PROVIDER=gh
          export CODACY_USERNAME=neuron-ai
          export CODACY_PROJECT_NAME=easyneuron
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r coverage.xml
